@import "./../../variables";

.projectsContainer {
  scroll-snap-align: start;
  height: 70vh;
  overflow-y: hidden;
}
.projectFlexContainer {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 90%;
  overflow-y: hidden;
}
.projectsHeader {
  padding: 0 1rem;
  max-height: 10%;
}

.test {
  min-height: 100%;
}

.projectHeaderChar {
  font-size: $largerBodyFontSize;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
}

.headerAnimation {
  & .projectHeaderChar {
    animation: slide-up-down ease-in-out 1s forwards;
  }
}

@keyframes slide-up-down {
  from {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10%);
    opacity: 1;
  }
  60% {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@for $i from 1 through 8 {
  .projectHeaderChar {
    &:nth-child(#{$i}) {
      animation-delay: $i * (0.1s);
    }
  }
}

@media screen and (min-width: 850px) {
  .projectHeaderChar {
    font-size: $largerBodyFontSize;
  }
}

// Desktop Screen
@media screen and (min-width: 1200px) {
}
