.waves {
  width: 200%;
  transform: translateX(-50%);
  max-height: 100%;
}

.waveSvg {
  width: 200vw;
  height: 25vh;
}

.frontWave {
  animation: wave-slide ease-in-out 7s infinite alternate;
}

.midWave {
  animation: wave-slide ease-in-out 8s 0.4s infinite alternate;
}

.backWave {
  animation: wave-slide ease-in-out 9s 0.2s infinite alternate;
}

@keyframes wave-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}
.navigation {
  color: #0b132b;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0.5rem 0rem;
}

.logo {
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 2rem;
}

.wavesMenu {
  height: 50px;
  width: 50px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  border: none;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

@media screen and (max-width: 850px) {
  .wavesMenu {
    display: block;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 73px);
    background-color: rgba(255, 255, 255, 0.929);
    border-top: 1px solid #0b132b;
    transform: translateX(100%);
    display: none;
  }
  .navigation-menu ul li {
    text-align: center;
    width: 100%;
  }
  .navigation-menu ul li a {
    color: #0b132b;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .navigation-menu.expended ul {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    display: block;
  }
  .navigation-menu.notExpended ul {
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    display: block;
  }
}
@keyframes menuIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes menuOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
.aboutMeContainer {
  scroll-snap-align: start;
}
.aboutMeContainer h1 {
  opacity: 0;
  animation: slide-up ease-in 0.4s forwards;
  margin-top: 0;
  font-size: 1.7rem;
  font-weight: 600;
}
.aboutMeContainer h2 {
  opacity: 0;
  animation: slide-up ease-in 0.4s 0.2s forwards;
  font-size: 1.3rem;
  font-weight: 400;
}
.aboutMeContainer .pFirst {
  opacity: 0;
  animation: slide-up ease-in 0.4s 0.4s forwards;
}
.aboutMeContainer .pSecond {
  opacity: 0;
  animation: slide-up ease-in 0.4s 0.6s forwards;
}

.iconTechContainer {
  margin-top: 3rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
}

.techIcon {
  animation: icon-wave ease-in-out 1.5s forwards;
  opacity: 0;
  width: 10%;
}

@keyframes slide-up {
  from {
    transform: translateY(200%);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes icon-wave {
  from {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10%);
  }
  60% {
    transform: translateY(7%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.techIcon:nth-child(1) {
  animation-delay: 0.5s;
}

.techIcon:nth-child(2) {
  animation-delay: 1s;
}

.techIcon:nth-child(3) {
  animation-delay: 1.5s;
}

.techIcon:nth-child(4) {
  animation-delay: 2s;
}

.techIcon:nth-child(5) {
  animation-delay: 2.5s;
}

.techIcon:nth-child(6) {
  animation-delay: 3s;
}

.projectsContainer {
  scroll-snap-align: start;
  max-height: 100%;
}

.projectFlexContainer {
  display: flex;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
}

.projectsHeader {
  padding: 1rem;
}

.projectHeaderChar {
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
}

.headerAnimation .projectHeaderChar {
  animation: slide-up-down ease-in-out 1s forwards;
}

@keyframes slide-up-down {
  from {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10%);
    opacity: 1;
  }
  60% {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.projectHeaderChar:nth-child(1) {
  animation-delay: 0.1s;
}

.projectHeaderChar:nth-child(2) {
  animation-delay: 0.2s;
}

.projectHeaderChar:nth-child(3) {
  animation-delay: 0.3s;
}

.projectHeaderChar:nth-child(4) {
  animation-delay: 0.4s;
}

.projectHeaderChar:nth-child(5) {
  animation-delay: 0.5s;
}

.projectHeaderChar:nth-child(6) {
  animation-delay: 0.6s;
}

.projectHeaderChar:nth-child(7) {
  animation-delay: 0.7s;
}

.projectHeaderChar:nth-child(8) {
  animation-delay: 0.8s;
}

@media screen and (min-width: 850px) {
  .projectHeaderChar {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .projectHeaderChar {
    font-size: 1.7rem;
  }
}
.projectsCardContainer {
  padding: 0.5rem 1rem;
  min-width: 100%;
  display: block;
  margin: 0 auto;
  opacity: 0;
  scroll-snap-align: start;
}

.projectsCardAnimation {
  animation: cardSlide ease-in-out 0.6s forwards;
}

.cardTopContainer {
  height: 50%;
  transform: translateY(50%);
  transition: all 0.2s ease-in;
  position: relative;
  z-index: 1;
}

.cardImage {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.cardBottomContainer {
  height: 50%;
  background-color: rgb(245, 245, 245);
  color: #0b132b;
  padding: 1rem;
  transform: translateY(-50%);
  transition: all 0.2s linear;
  border-radius: 10px;
}
.cardBottomContainer h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
}

.projectsCardContainer:hover .cardTopContainer {
  transform: translateY(0%);
  border-radius: 10px 10px 0 0;
}

.projectsCardContainer:hover .cardBottomContainer {
  transform: translateY(0%);
  border-radius: 0 0 10px 10px;
}

@keyframes cardSlide {
  from {
    transform: translateY(100%);
  }
  60% {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.projectsCardContainer:nth-child(1) {
  animation-delay: 0.2s;
}

.projectsCardContainer:nth-child(2) {
  animation-delay: 0.4s;
}

.projectsCardContainer:nth-child(3) {
  animation-delay: 0.6s;
}

@media screen and (min-width: 850px) {
  .projectsCardContainer {
    min-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .projectsCardContainer {
    min-width: 33%;
  }
}
.workContainer {
  scroll-snap-align: start;
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  flex-direction: column;
  height: 70vh;
  overflow-x: auto;
}
.contactContainer span {
  font-size: 16px;
  padding: 1rem;
  visibility: hidden;
}
.contactContainer input {
  padding: 1rem;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  border: none;
  width: 100%;
  opacity: 0;
}

.inputAnimation {
  animation: inputIn ease-out 1s forwards;
}

@keyframes inputIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 850px) {
  .contactContainer span, .contactContainer input {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1400px) {
  .contactContainer span, .contactContainer input {
    font-size: 3rem;
  }
}
.top {
  fill: greenyellow;
}

.mid {
  fill: blue;
}

.navBtn {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #0b132b;
  border-bottom: 2px solid transparent;
}
.navBtn:hover {
  border-bottom: 2px solid #0b132b;
  transition: all linear 0.05s;
}

@media screen and (min-width: 850px) {
  .navBtn {
    font-size: 16px;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
}

header {
  height: 25vh;
  position: relative;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: white;
  font-size: 13px;
}

input,
button,
a,
textarea {
  font-family: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 600;
}

.bodyContainer {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #6fffe9, rgba(91, 192, 190, 0.8), #3a506b, #1c2541, #0b132b, #040812);
}

.globalContentContainer {
  text-align: left;
  letter-spacing: 1.2;
  margin: auto;
}

.contentScroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 75vh;
}

.contentContainer {
  height: 100%;
  padding: 0.5rem;
  margin: 0 auto;
  width: 90%;
}
.contentContainer:first-child {
  padding-top: 0;
}

@media screen and (min-width: 850px) {
  body {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
