.waves {
  width: 200%;
  transform: translateX(-50%);
  position: absolute;
  top: 0;
  left: 0;
}

.frontWave {
  animation: wave-slide ease-in-out 7s infinite alternate;
}

.midWave {
  animation: wave-slide ease-in-out 8s 0.4s infinite alternate;
}

.backWave {
  animation: wave-slide ease-in-out 9s 0.2s infinite alternate;
}

@keyframes wave-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}
.navContainer {
  background-color: transparent;
  display: flex;
  padding-top: 1rem;
  color: rgb(0, 0, 75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.navContainer h1 {
  margin: 0;
  padding: 0 2rem;
}
.navContainer .navBtnContainer {
  margin-left: auto;
}
.navContainer .navBtnContainer a {
  padding: 1rem 2rem;
}

.aboutMeContainer {
  scroll-snap-align: start;
}
.aboutMeContainer h1,
.aboutMeContainer h2 {
  font-weight: 600;
}
.aboutMeContainer h1 {
  opacity: 0;
  animation: slide-up ease-in 0.4s forwards;
  margin-top: 0;
  font-size: 1.7rem;
}
.aboutMeContainer h2 {
  opacity: 0;
  animation: slide-up ease-in 0.4s 0.2s forwards;
  font-size: 1.3rem;
}
.aboutMeContainer .pFirst {
  opacity: 0;
  animation: slide-up ease-in 0.4s 0.4s forwards;
}
.aboutMeContainer .pSecond {
  opacity: 0;
  animation: slide-up ease-in 0.4s 0.6s forwards;
}

.iconTechContainer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
}

.techIcon {
  animation: icon-wave ease-in-out 2.5s forwards;
  opacity: 0;
  width: 15%;
}

@keyframes slide-up {
  from {
    transform: translateY(200%);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes icon-wave {
  from {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10%);
  }
  60% {
    transform: translateY(7%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.techIcon:nth-child(1) {
  animation-delay: 0.5s;
}

.techIcon:nth-child(2) {
  animation-delay: 1s;
}

.techIcon:nth-child(3) {
  animation-delay: 1.5s;
}

.techIcon:nth-child(4) {
  animation-delay: 2s;
}

.techIcon:nth-child(5) {
  animation-delay: 2.5s;
}

.techIcon:nth-child(6) {
  animation-delay: 3s;
}

.projectsContainer {
  scroll-snap-align: start;
}

.projectFlexContainer {
  display: flex;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
}

.projectsHeader {
  padding: 1rem;
}

.projectHeaderChar {
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
}

.headerAnimation .projectHeaderChar {
  animation: slide-up-down ease-in-out 1s forwards;
}

@keyframes slide-up-down {
  from {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10%);
    opacity: 1;
  }
  60% {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.projectHeaderChar:nth-child(1) {
  animation-delay: 0.1s;
}

.projectHeaderChar:nth-child(2) {
  animation-delay: 0.2s;
}

.projectHeaderChar:nth-child(3) {
  animation-delay: 0.3s;
}

.projectHeaderChar:nth-child(4) {
  animation-delay: 0.4s;
}

.projectHeaderChar:nth-child(5) {
  animation-delay: 0.5s;
}

.projectHeaderChar:nth-child(6) {
  animation-delay: 0.6s;
}

.projectHeaderChar:nth-child(7) {
  animation-delay: 0.7s;
}

.projectHeaderChar:nth-child(8) {
  animation-delay: 0.8s;
}

@media screen and (min-width: 850px) {
  .projectHeaderChar {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .projectHeaderChar {
    font-size: 1.7rem;
  }
}
.projectsCardContainer {
  min-width: 100%;
  padding: 0 0.5rem;
  display: block;
  opacity: 0;
  scroll-snap-align: start;
  animation: fade-in ease-out 10s forwards;
}

.cardTopContainer {
  height: 50%;
  transform: translateY(50%);
  transition: all 0.2s ease-in;
  position: relative;
  z-index: 1;
}

.cardImage {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.cardBottomContainer {
  height: 50%;
  background-color: grey;
  transform: translateY(-50%);
  transition: all 0.2s linear;
  border-radius: 10px;
}
.cardBottomContainer h3 {
  margin: 0;
}

.projectsCardContainer:hover .cardTopContainer {
  transform: translateY(0%);
  border-radius: 10px 10px 0 0;
}

.projectsCardContainer:hover .cardBottomContainer {
  transform: translateY(0%);
  border-radius: 0 0 10px 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  80%, to {
    opacity: 1;
  }
}
@media screen and (min-width: 850px) {
  .projectsCardContainer {
    min-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .projectsCardContainer {
    min-width: 33%;
  }
}
.workContainer {
  scroll-snap-align: start;
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  flex-direction: column;
  height: 70vh;
  overflow-x: auto;
}
.contactContainer span {
  font-size: 1rem;
  padding: 1rem;
  visibility: hidden;
}
.contactContainer input {
  padding: 1rem;
  background-color: transparent;
  font-size: 1rem;
  outline: none;
  border: none;
  width: 100%;
}

@media screen and (min-width: 850px) {
  .contactContainer span {
    font-size: 2rem;
  }
  .contactContainer input {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .contactContainer span {
    font-size: 3rem;
  }
  .contactContainer input {
    font-size: 3rem;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
}

header {
  height: 25vh;
  position: relative;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: white;
  font-size: 13px;
  min-width: 500px;
}

input,
button,
a,
textarea {
  font-family: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 600;
}

.bodyContainer {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #6fffe9, rgba(91, 192, 190, 0.8), #3a506b, #1c2541, #0b132b, #040812);
}

.globalContentContainer {
  text-align: left;
  letter-spacing: 1.2;
  margin: auto;
}

.contentScroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 75vh;
}

.contentContainer {
  height: 100%;
  padding: 0.5rem;
  margin: 0 auto;
  width: 90%;
}
.contentContainer:first-child {
  padding-top: 0;
}

@media screen and (min-width: 850px) {
  body {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
