.waves {
  width: 200%;
  transform: translateX(-50%);
  max-height: 100%;
}

.waveSvg {
  width: 200vw;
}

.frontWave {
  animation: wave-slide ease-in-out 7s infinite alternate;
}

.midWave {
  animation: wave-slide ease-in-out 8s 0.4s infinite alternate;
}

.backWave {
  animation: wave-slide ease-in-out 9s 0.2s infinite alternate;
}

@keyframes wave-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}
.navigation {
  color: #0b132b;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0.5rem 0rem;
}

.logo {
  width: 100px;
  height: 100%;
}

.top,
.bottom {
  animation: topAndBottomAnimation 4s ease-in-out forwards alternate infinite;
}

.mid {
  animation: midLogoAnimation 4s forwards ease-in-out alternate infinite;
}

.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 2rem;
}

.socialBtn {
  display: flex;
}
.socialBtn > * {
  width: 50%;
}
.socialBtn > * img {
  padding: 3.5rem;
  width: 100%;
  object-fit: contain;
}

.wavesMenu {
  height: 50px;
  width: 50px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  border: none;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

@media screen and (max-width: 850px) {
  .wavesMenu {
    display: block;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 73px);
    background-color: rgba(255, 255, 255, 0.929);
    border-top: 1px solid #0b132b;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    visibility: hidden;
  }
  .navigation-menu ul li {
    text-align: center;
    width: 100%;
  }
  .navigation-menu ul li a {
    color: #0b132b;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .navigation-menu.expended ul {
    transform: translateX(0);
    visibility: visible;
  }
  .navigation-menu.notExpended ul {
    transform: translateX(100%);
    visibility: hidden;
  }
}
@media screen and (min-width: 850px) {
  .socialBtn > * img {
    display: none;
  }
}
@keyframes menuIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    display: block;
  }
}
@keyframes menuOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes midLogoAnimation {
  from {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(-7.5%);
  }
  to {
    transform: translateX(-7.5%);
  }
}
@keyframes topAndBottomAnimation {
  from {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.introContainer {
  scroll-snap-align: start;
}
.introContainer h1 {
  opacity: 0;
  animation: slide-up ease-in 0.4s forwards;
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 600;
}
.introContainer h2 {
  opacity: 0;
  animation: slide-up ease-in 0.4s 0.2s forwards;
  font-size: 1.2rem;
  font-weight: 400;
}

.largeIconsTechContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.largeIconsTechContainer h3 {
  font-weight: 400;
}

.largeIconsTechContainer > * {
  text-align: center;
}

.larghTechIcon {
  width: 90%;
}

.largeIconsDiv {
  animation: slide-up 1s forwards;
}

.iconTechContainer {
  margin-top: 3rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.reactAndNodeSmallIcons {
  display: none;
}

.techIcon {
  animation: icon-wave ease-in-out 1.5s forwards;
  opacity: 0;
  width: 10%;
}

@keyframes slide-up {
  from {
    transform: translateY(200%);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes icon-wave {
  from {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10%);
  }
  60% {
    transform: translateY(7%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.techIcon:nth-child(1) {
  animation-delay: 0.3333333333s;
}

.techIcon:nth-child(2) {
  animation-delay: 0.6666666667s;
}

.techIcon:nth-child(3) {
  animation-delay: 1s;
}

.techIcon:nth-child(4) {
  animation-delay: 1.3333333333s;
}

.techIcon:nth-child(5) {
  animation-delay: 1.6666666667s;
}

.techIcon:nth-child(6) {
  animation-delay: 2s;
}

@media screen and (min-width: 850px) {
  .reactAndNodeSmallIcons {
    display: block;
  }
  .largeIconsTechContainer {
    display: none;
  }
  .introContainer h2 {
    font-size: 3rem;
  }
  .introContainer h2:nth-child(3) {
    margin-bottom: 5rem;
  }
}
.projectsContainer {
  scroll-snap-align: start;
  height: 70vh;
  overflow-y: hidden;
}

.projectFlexContainer {
  display: flex;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
  height: 90%;
  overflow-y: hidden;
}

.projectsHeader {
  padding: 0 1rem;
  max-height: 10%;
}

.test {
  min-height: 100%;
}

.projectHeaderChar {
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
}

.headerAnimation .projectHeaderChar {
  animation: slide-up-down ease-in-out 1s forwards;
}

@keyframes slide-up-down {
  from {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10%);
    opacity: 1;
  }
  60% {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.projectHeaderChar:nth-child(1) {
  animation-delay: 0.1s;
}

.projectHeaderChar:nth-child(2) {
  animation-delay: 0.2s;
}

.projectHeaderChar:nth-child(3) {
  animation-delay: 0.3s;
}

.projectHeaderChar:nth-child(4) {
  animation-delay: 0.4s;
}

.projectHeaderChar:nth-child(5) {
  animation-delay: 0.5s;
}

.projectHeaderChar:nth-child(6) {
  animation-delay: 0.6s;
}

.projectHeaderChar:nth-child(7) {
  animation-delay: 0.7s;
}

.projectHeaderChar:nth-child(8) {
  animation-delay: 0.8s;
}

@media screen and (min-width: 850px) {
  .projectHeaderChar {
    font-size: 2rem;
  }
}
.projectsCardContainer {
  padding: 0.5rem 1rem;
  font-size: 11px;
  min-width: 100%;
  display: block;
  margin: 0 auto;
  opacity: 0;
  max-height: 100%;
  scroll-snap-align: start;
}

.projectsCardAnimation {
  animation: slideProject 1.6s 0.5s ease-out forwards;
}

.cardTopContainer {
  height: 50%;
  transform: translateY(50%);
  transition: all 0.2s ease-in;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.cardImage {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 10px;
}

.cardBottomContainer {
  height: 50%;
  background-color: rgb(245, 245, 245);
  color: #0b132b;
  padding: 1rem;
  font-size: inherit;
  transform: translateY(-50%);
  transition: all 0.2s linear;
  border-radius: 10px;
}
.cardBottomContainer h3 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.btnContainer {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.btnContainer a img {
  height: 100%;
}

.btnCard {
  text-align: center;
  width: 45%;
}

.cardIsOpen .cardTopContainer {
  transform: translateY(0%);
}
.cardIsOpen .cardBottomContainer {
  transform: translateY(0%);
  border-radius: 0 0 10px 10px;
}
.cardIsOpen .cardImage {
  border-radius: 10px 10px 0 0;
}

.cardIsClose .cardTopContainer {
  transform: translateY(50%);
}
.cardIsClose .cardBottomContainer {
  transform: translateY(-50%);
  border-radius: 10px;
}
.cardIsClose .cardImage {
  border-radius: 10px;
}

.projectsCardContainer:hover .cardTopContainer {
  transform: translateY(0%);
}

.projectsCardContainer:hover .cardImage {
  border-radius: 10px 10px 0 0;
}

.projectsCardContainer:hover .cardBottomContainer {
  transform: translateY(0%);
  border-radius: 0 0 10px 10px;
}

@keyframes slideProject {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateX(-30%);
  }
  60% {
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes cardSlide {
  from {
    transform: translateY(100%);
  }
  60% {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (min-width: 850px) {
  .projectsCardContainer {
    min-width: 50%;
    font-size: 16px;
  }
  .projectsCardAnimation {
    animation: cardSlide 1s forwards;
  }
  .projectsCardContainer:nth-child(1) {
    animation-delay: 0.2s;
  }
  .projectsCardContainer:nth-child(2) {
    animation-delay: 0.4s;
  }
}
@media screen and (min-width: 1200px) {
  .projectsCardContainer {
    min-width: 50%;
  }
  .largeIconsTechContainer {
    visibility: hidden;
  }
}
.aboutMeContainer {
  scroll-snap-align: start;
}
.aboutMeContainer > * {
  opacity: 0;
}

.aboutMeEnterAnimtaion > * {
  animation: slideInP 0.5s forwards;
}

.socialBtnContainer {
  height: 15vh;
  width: 90%;
  display: flex;
  margin: auto;
  margin-top: 4rem;
}

.aboutMeSocialBtn {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 5px;
}

.aboutMeSocialBtn a img {
  height: 100%;
  padding: 1rem;
}

.aboutMeSocialBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  opacity: 0.1;
  z-index: -1;
  transition: all 1s;
}

.aboutMeSocialBtn:hover::before {
  opacity: 1;
}

@keyframes slideInP {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.aboutMeContainer *:nth-child(1) {
  animation-delay: 0.3333333333s;
}

.aboutMeContainer *:nth-child(2) {
  animation-delay: 0.6666666667s;
}

.aboutMeContainer *:nth-child(3) {
  animation-delay: 1s;
}

.aboutMeContainer *:nth-child(4) {
  animation-delay: 1.3333333333s;
}

.aboutMeContainer *:nth-child(5) {
  animation-delay: 1.6666666667s;
}

.aboutMeContainer *:nth-child(6) {
  animation-delay: 2s;
}

@media screen and (min-width: 850px) {
  .aboutMeContainer p {
    font-size: 1.5rem;
  }
  .aboutMeSocialBtn {
    width: 25%;
  }
  .aboutMeSocialBtn:first-child {
    margin-right: 2rem;
  }
}
.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  flex-direction: column;
  height: 70vh;
  overflow-x: auto;
  text-align: center;
}
.contactContainer .inputTitle {
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
  margin: 0;
}
.contactContainer .spanToExpenedInput {
  font-size: 16px;
  padding: 1rem;
  visibility: hidden;
}
.contactContainer input {
  padding: 1rem;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  border: none;
  text-align: center;
  width: 100%;
  opacity: 0;
}

.submitBtn {
  background-color: transparent;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  margin-top: 2rem;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
}

[data-status=success] {
  background-color: rgb(10, 236, 10);
}

[data-status=pending] {
  animation: loadingLightPending infinite alternate 0.3s;
}

[data-status=error] {
  background-color: red;
}

.submitBtn:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.inputAnimation {
  animation: inputIn ease-out 1s forwards;
}

@keyframes inputIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loadingLightPending {
  from {
    background-color: transparent;
  }
  to {
    background-color: orange;
  }
}
@media screen and (min-width: 850px) {
  .contactContainer .spanToExpenedInput, .contactContainer input {
    font-size: 1.3rem;
  }
  .contactContainer .inputTitle {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1400px) {
  .contactContainer .spanToExpenedInput, .contactContainer input {
    font-size: 2.8rem;
  }
  .contactContainer .inputTitle {
    font-size: 3.2rem;
  }
}
.navBtn {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #0b132b;
  border-bottom: 2px solid transparent;
}
.navBtn:hover {
  border-bottom: 2px solid #0b132b;
  transition: all linear 0.05s;
}

@media screen and (min-width: 850px) {
  .navBtn {
    font-size: 16px;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  overflow-y: hidden;
}

header {
  height: 15vh;
  position: relative;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 13px;
}

input,
button,
a,
textarea {
  font-family: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 600;
}

.bodyContainer {
  background-image: linear-gradient(to bottom, #6fffe9, rgba(91, 192, 190, 0.8), #3a506b, #1c2541, #0b132b, #040812);
}

.globalContentContainer {
  text-align: left;
  letter-spacing: 1.2;
  margin: auto;
}

.contentScroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 85vh;
}

.contentContainer {
  height: 100%;
  padding: 0.5rem;
  margin: 0 auto;
  width: 90%;
}
.contentContainer:first-child {
  padding-top: 0;
}

@media screen and (min-width: 850px) {
  body {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
