.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  flex-direction: column;
  height: 70vh;

  & span {
    font-size: 3rem;
    padding: 1rem;
    // opacity: 0;
    visibility: hidden;
  }

  & input {
    padding: 1rem;
    background-color: transparent;
    font-size: 3rem;
    outline: none;
    border: none;
    width: 100%;
  }
}
