@import "./../../variables";

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  flex-direction: column;
  height: 70vh;
  overflow-x: auto;

  & span {
    font-size: $regularBodySizeFont;
    padding: 1rem;
    visibility: hidden;
  }

  & input {
    padding: 1rem;
    background-color: transparent;
    font-size: $regularBodySizeFont;
    outline: none;
    border: none;
    width: 100%;
    opacity: 0;
  }
}
.inputAnimation {
  animation: inputIn ease-out 1s forwards;
}

@keyframes inputIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
// Tablet Screen
@media screen and (min-width: 850px) {
  .contactContainer {
    & span,
    & input {
      font-size: 3rem;
    }
  }
}

// Desktop Screen
@media screen and (min-width: 1200px) {
  // .contactContainer {
  //   & span,
  //   & input {
  //     font-size: 3rem;
  //   }
  // }
}
