@import "./../../variables";

.projectsCardContainer {
  padding: 0.5rem 1rem;
  min-width: 100%;
  display: block;
  margin: 0 auto;
  opacity: 0;
  max-height: 100%;
  scroll-snap-align: start;
}
.projectsCardAnimation {
  animation: slideProject 1.6s 0.5s ease-out forwards;
}

.cardTopContainer {
  height: 50%;
  transform: translateY(50%);
  transition: all 0.2s ease-in;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.cardImage {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: $borderRedius;
}

.cardBottomContainer {
  height: 50%;
  background-color: rgb(245, 245, 245);
  color: $navFontColor;
  padding: 1rem;
  font-size: $mobileBodySizeFont;
  transform: translateY(-50%);
  transition: all 0.2s linear;
  border-radius: $borderRedius;

  & h3 {
    margin: 0;
    font-weight: $subHeaderFontWieght;
    font-size: $subHeaderSize;
  }
}

.btnContainer {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  & a img {
    height: 100%;
  }
}

.btnCard {
  text-align: center;
  width: 45%;
}

.cardIsOpen {
  & .cardTopContainer {
    transform: translateY(0%);
  }

  & .cardBottomContainer {
    transform: translateY(0%);
    border-radius: 0 0 10px 10px;
  }

  & .cardImage {
    border-radius: 10px 10px 0 0;
  }
}
.cardIsClose {
  & .cardTopContainer {
    transform: translateY(50%);
  }

  & .cardBottomContainer {
    transform: translateY(-50%);
    border-radius: $borderRedius;
  }

  & .cardImage {
    border-radius: $borderRedius;
  }
}
.projectsCardContainer:hover .cardTopContainer {
  transform: translateY(0%);
}
.projectsCardContainer:hover .cardImage {
  border-radius: 10px 10px 0 0;
}
.projectsCardContainer:hover .cardBottomContainer {
  transform: translateY(0%);
  border-radius: 0 0 10px 10px;
}

@keyframes slideProject {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateX(-30%);
  }
  60% {
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes cardSlide {
  from {
    transform: translateY(100%);
  }
  60% {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: 850px) {
  .projectsCardContainer {
    min-width: 50%;
    font-size: $regularBodySizeFont;
  }
  .projectsCardAnimation {
    animation: cardSlide 1s forwards;
  }

  @for $i from 1 through 2 {
    .projectsCardContainer {
      &:nth-child(#{$i}) {
        animation-delay: $i * (0.2s);
      }
    }
  }
}

// Desktop Screen
@media screen and (min-width: 1200px) {
  .projectsCardContainer {
    min-width: 50%;
  }
  .largeIconsTechContainer {
    visibility: hidden;
  }
}
