@import "./../../variables";

.navBtn {
  font-size: $subHeaderSize;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $navFontColor;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid $navFontColor;
    transition: all linear 0.05s;
  }
}

@media screen and (min-width: 850px) {
  .navBtn {
    font-size: $regularBodySizeFont;
  }
}

// Desktop Screen
@media screen and (min-width: 1200px) {
}
