$mobileBodySizeFont: 13px;
$regularBodySizeFont: 16px;
$baseFontColor: white;
$navFontColor: #0b132b;
$headerSize: 2rem;
$subHeaderSize: 1.5rem;
$lineHeight: 1.6;
$headerFontWieght: 600;
$subHeaderFontWieght: 400;
$pFontWieght: 100;
$borderRedius: 10px;
