@use "./assets/waveSvg/wave";
@use "./components/Navigation/nav";
@use "./components/Intro/intro";
@use "./components/Projects/projects";
@use "./components/ProjectsCard/projectCard";
@use "./components/AboutMe/aboutMe";
@use "./components/Contact/contact";
@use "./components/NavBtn/navBtn";

@import "./variables.scss";
:root {
  $lightFontColor: white;
  $blueFontColor: rgb(5, 7, 57);
  $darkFontColor: rgb(0, 0, 0);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

// General styles

html {
  margin: 0;
  overflow-y: hidden;
  height: 100vh;
}
header {
  height: 19vh;
  position: relative;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: $baseFontColor;
  font-size: $mobileBodySizeFont;
}

input,
button,
a,
textarea {
  font-family: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

// Typo styles
h1 {
  font-weight: 600;
}
// Layout styles

.bodyContainer {
  min-height: 100vh; //After more content will be add I can remove this.
  background-image: linear-gradient(
    to bottom,
    #6fffe9,
    #5bc0becc,
    #3a506b,
    #1c2541,
    #0b132b,
    #040812
  );
}

.globalContentContainer {
  text-align: left;
  letter-spacing: 1.2;
  margin: auto;
}

.contentScroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 80vh;
}
.contentContainer {
  height: 100%;
  padding: 0.5rem;
  margin: 0 auto;
  width: 90%;
  &:first-child {
    padding-top: 0;
  }
}

@media screen and (min-width: 850px) {
  body {
    font-size: $regularBodySizeFont;
  }
}

// Desktop Screen
@media screen and (min-width: 1200px) {
}
