.aboutMeContainer {
  scroll-snap-align: start;
  & > * {
    opacity: 0;
  }
}
.aboutMeEnterAnimtaion > * {
  animation: slideInP 0.5s forwards;
}
@keyframes slideInP {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 6 {
  .aboutMeContainer * {
    &:nth-child(#{$i}) {
      animation-delay: $i * (1s / 3);
    }
  }
}
