.aboutMeContainer {
  scroll-snap-align: start;
  & > * {
    opacity: 0;
  }
}
.aboutMeEnterAnimtaion > * {
  animation: slideInP 0.5s forwards;
}
.socialBtnContainer {
  height: 15vh;
  width: 90%;
  display: flex;
  margin: auto;
  margin-top: 4rem;
}
.aboutMeSocialBtn {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 5px;
}
.aboutMeSocialBtn a img {
  height: 100%;
  padding: 1rem;
}

.aboutMeSocialBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  opacity: 0.1;
  z-index: -1;
  transition: all 1s;
}
.aboutMeSocialBtn:hover::before {
  opacity: 1;
}

@keyframes slideInP {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 6 {
  .aboutMeContainer * {
    &:nth-child(#{$i}) {
      animation-delay: $i * (1s / 3);
    }
  }
}

@media screen and (min-width: 850px) {
  .aboutMeContainer {
    & p {
      font-size: 1.5rem;
    }
  }
  .aboutMeSocialBtn {
    width: 25%;
  }
  .aboutMeSocialBtn:first-child {
    margin-right: 2rem;
  }
}
